<div class="card">
    <h5 class="card-header">{{Headline}}</h5>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary">Comments</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-danger">Delete From Saved</button>
                </div>
            </div>
            <div class="row">
                <p class="card-text">{{summary}}</p>
                <a href="{{url}}" class="btn btn-primary">Link To The Original Article</a>
            </div>
        </div>
    </div>
</div>